.footer {
    display: fixed;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10;
    width: 100%;
    height: 2rem;
    font-family: var(--font-titillium-web);
    color: var(--cg-black);
    text-align: center;
    /* Debug border *
    /* border: solid blue; */
}